*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.sky{
    height: 100vh;
    width: 100%;
    background-image: url("assets/background.jpg");
    position: absolute;
    background-repeat: no-repeat;
}
.tree{
    height: 100vh;
    width: 100%;
    background-image: url("assets/trees.png");
    background-size: cover;
    position: absolute;
    top: -151px;
}
.track{
    height: 60vh;
    width: 800vw;
    background-image: url("assets/track.png");
    position: absolute;
    top: 70vh;
    background-repeat: repeat-x;
    animation: carMove linear 6s infinite;
}
.car{
    height: 100px;
    width: 380px;
    background-image: url("assets/car_body.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    bottom: 200px;
    animation: shake linear 3s infinite;
}
.w1 img{
    width: 81px;
    position: relative;
    top: 38px;
    left: 40px;
    animation: wheelRotation linear .6s infinite;
}
.w2 img{
    width: 77px;
    position: relative;
    top: -45px;
    left: 234px;
    animation: wheelRotation linear .6s infinite;
}
@keyframes wheelRotation {
    100%{
        transform: rotate(360deg);
    }
}
@keyframes carMove {
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes shake {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}